/* 初始化样式 */
* {
  margin: 0;
  padding: 0;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
body {
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  color: #111111;
}
a {
  text-decoration: none;
  color: #666;
}
ul {
  list-style: none;
}
img,input {
  border: none;
  outline: none;
  vertical-align: middle;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
i,em {
  font-style: normal;
}
/* 头部 */
.wrap_top {
  width: 100%;
  height: 35px;
  background: #444444;
}
.wrap_top .top {
  width: 87%;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  margin: auto;
  color: #a8a8a8;
}
.wrap_top .top li {
  float: right;
  margin-right: 10px;
}
/* 最顶部结束 */
/* 头部开始 */
.wrap_header {
  background: #1a1a1a;
  color: #fff;
  position: relative;
}
.wrap_header .header {
  max-width: 1834px;
  width: 1300px;
  height: 100px;
  margin: auto;
  position: relative;
}
.wrap_header .header a img.logo {
  float: left;
  padding-top: 26px;
}
.wrap_header .header .nav {
  width: 900px;
  float: left;
  padding: 36px 0 40px 50px;
  font-size: 16px;
}
.wrap_header .header .nav li {
  float: left;
  padding: 0 1.5%;
  overflow: hidden;
}
.wrap_header .header .nav li ul {
  position: absolute;
  display: none;
  z-index: 999;
  top: 100px;
  color: #000000;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 96px;
  padding-top: 10px;
  text-align: center;
}
.wrap_header .header .nav li a {
  color: #fff;
}
.wrap_header .header .nav li a:hover{
  color: rgb(255, 39, 60);
}
.wrap_header .header .fl {
  padding-right: 0;
  padding-left: 1%;
}
.wrap_header .header .fl div {
  float: left;
  height: 78px;
  width: 78px;
  text-align: center;
  padding-top: 22px;
}
.wrap_header .header .fl div:hover {
  background-color: #ff283c;
}
.wrap_header .header .weixin-open {
  position: absolute;
  top: -7px;
  right: 170px;
  display: none;
}
.wrap_header .header .tmall-open {
  position: absolute;
  top: -7px;
  right: 130px;
  display: none;
}
.wrap_header .index-slide {
  position: absolute;
  right: 10%;
  width: 270px;
  top: 100px;
  height: 580px;
  background: url('../images/index/index-silder.png') no-repeat;
  z-index: 99;
}
.wrap_header .index-slide ul {
  top: 50px;
  left: 20px;
  width: 110px;
  float: left;
  position: absolute;
}
.wrap_header .index-slide ul li {
  height: 36px;
  line-height: 36px;
}
.wrap_header .index-slide ul li img {
  width: auto;
  float: left;
  margin-top: 10px;
  padding-right: 15px;
}
.wrap_header .index-slide ul li a {
  font-size: 14px;
  color: #fff;
}
.wrap_header .index-slide .ul2-l {
  left: 150px;
}
/* 头部结束 */
/* 文本样式 */
.photo img {
  width: 100%;
}
.photo .activity {
  margin: 50px 0;
}
.w div {
  width: 100%;
  margin-bottom: 50px;
}
.w div:hover {
  color: #bfaf93;
}
.w div a:hover {
  color: #bfaf93;
}
.w div img {
  width: 100%;
  transition: all 0.6s;
}
.w div img:hover {
  transform: scale(1.2);
}
.w div h4 {
  font-weight: 400;
  margin-top: 20px;
}
.w div h4 span {
  float: right;
}
.w div h2 {
  font-size: 22px;
  line-height: 50px;
  border-bottom: 1px solid #efebe4;
  margin-bottom: 10px;
}
.w div .now {
  float: right;
  display: block;
  width: 120px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: red;
}
.yhq img {
  position: fixed;
  right: 0;
  top: 150px;
  width: 135px;
  height: 264px;
}
/* 底部 */
.wrapNews .pic-bottom {
  padding-top: 50px;
  padding-left: 35%;
}
.bottom-pic {
  text-align: center;
  position: relative;
}
.bottom-pic img {
  width: 100%;
}
.bottom-pic .bottom-text {
  position: absolute;
  width: 100%;
  opacity: 0.8;
  background: #000;
  bottom: 0;
  height: 54px;
  line-height: 54px;
}
.bottom-pic .bottom-text ul {
  width: 80%;
  margin-left: 20%;
}
.bottom-pic .bottom-text ul li {
  padding-left: 60px;
  float: left;
}
.bottom-pic .bottom-text ul li a {
  color: #808080;
  font-size: 14px;
}
.bottom-pic .bottom-text ul li a:hover {
  color: #756757;
}
.fkqd {
  width: 100%;
}
.fkqd img {
  width: 100%;
}
.footer {
  background-color: #282828;
  color: #9e9e9e;
  padding-top: 80px;
  height: 580px;
}
.footer .footer-wrapper {
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
}
.footer .footer-wrapper .foot-left {
  width: 626px;
  position: relative;
}
.footer .footer-wrapper .foot-left dl {
  float: left;
  padding-right: 50px;
}
.footer .footer-wrapper .foot-left dl dt {
  font-size: 16px;
  color: #fff;
  padding-bottom: 10px;
}
.footer .footer-wrapper .foot-left dl dd {
  height: 25px;
}
.footer .footer-wrapper .foot-left p {
  float: left;
  width: 100%;
  padding-top: 66px;
  font-size: 16px;
}
.footer .footer-wrapper .foot-left img {
  position: absolute;
  top: 300px;
  left: 300px;
}
.footer .footer-wrapper .foot-center {
  width: 400px;
  padding-left: 60px;
  border-left: 1px solid #4e4943;
}
.footer .footer-wrapper .foot-center .center-title {
  margin-bottom: 20px;
}
.footer .footer-wrapper .foot-center .center-title span:last-child {
  color: #c0af93;
}
.footer .footer-wrapper .foot-center .input-center {
  padding-bottom: 50px;
  border-bottom: 1px solid #4e4943;
}
.footer .footer-wrapper .foot-center .input-center input {
  box-sizing: border-box;
  display: block;
  width: 250px;
  height: 40px;
  background-color: #1a1a1a;
  margin-bottom: 16px;
}
.footer .footer-wrapper .foot-center .input-center .input1 {
  padding-left: 10px;
}
.footer .footer-wrapper .foot-center .input-center .input2 {
  color: #fff;
  background-color: #646464;
}
.footer .footer-wrapper .foot-center .input-bottom {
  padding: 30px 0;
}
.footer .footer-wrapper .foot-center .input-bottom h3 {
  font-size: 16px;
  color: #fff;
  padding-bottom: 10px;
}
.pic-time2 .groupText {
  z-index: 5;
  position: fixed;
  top: 50%;
  right: 0;
  width: 100px;
  height: 100px;
}
.pic-time2 .groupText h2 {
  font-size: 26px;
}
.pic-time2 .group2 ul li {
  float: left;
}
.pic-time2 .group2 ul li img {
  width: 90px;
  height: 100px;
}
@media only screen and (max-width: 1800px) and (min-width: 1200px) {
  .wrap_header .header .nav {
    padding-left: 4.5%;
    width: 66%;
  }
}
@media only screen and (max-width: 1600px) and (min-width: 980px) {
  .index-slide {
    right: 0!important;
  }
}
