/* 初始化样式 */
* {
  margin: 0;
  padding: 0;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
body {
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  color: #111111;
}
a {
  text-decoration: none;
  color: #666;
}
ul {
  list-style: none;
}
img,input {
  border: none;
  outline: none;
  vertical-align: middle;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
i,em {
  font-style: normal;
}
/* 文本样式 */
.photo {
  width: 100%;
}
.photo .activity {
  margin: 50px 0;
}
.w div {
  width: 100%;
  margin-bottom: 50px;
}
.w div img {
  width: 100%;
}
.w div h4 {
  font-weight: 400;
  margin-top: 20px;
}
.w div h4 span {
  float: right;
}
.w div h2 {
  font-size: 22px;
  line-height: 50px;
  border-bottom: 1px solid #efebe4;
  margin-bottom: 10px;
}
.w div .now {
  float: right;
  display: block;
  width: 120px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: red;
}
.bot {
  margin-top: 100px;
}
.bot img {
  width: 100%;
}
